<section class="contact">
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m im img-banner-contact bg-danger" >
        <h1 class="l-text2 t-banner text-center">Contact</h1>
    </section>
    <div class="container margin-top contact-bt">
        <div class="row">
            <div class="col-md-6 contact-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d374.807363209849!2d105.78355666331504!3d21.046301395401567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1660217287937!5m2!1svi!2s"
                    width="570" height="505" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-6 p-b-30">
                <form class="leave-comment">
                    <h4 class="tittle-contact">
                        Send us your message
                    </h4>
                    <div class="box-i">
                        <input class="input" type="text" name="name" placeholder="Full Name">
                    </div>
                    <div class="box-i">
                        <input class="input" type="text" name="phone-number" placeholder="Phone Number">
                    </div>
                    <div class="box-i">
                        <input class="input" type="text" name="email" placeholder="Email">
                    </div>
                    <textarea class="mess-box" name="message" placeholder="Message"></textarea>
                    <div class="btn-size">
                        <button class="send-btn">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>