<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="banner">
    <a class="text h4" href="#!festival">WELL COME TO FESTIVAL</a>
    <img src="../img/Đỏ đậm Trắng Đen Du mục Kỹ thuật số Vlog Du lịch Hình thu nhỏ YouTube  (1).png"
      class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
  </div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-3">
        <a class="h6 text-home" href="#!festival">WELL COME TO FESTIVAL</a>
        <img src="../img/Đỏ đậm Trắng Đen Du mục Kỹ thuật số Vlog Du lịch Hình thu nhỏ YouTube  (1).png"
          class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
      </div>
      <div class="col-lg-3">
        <a class="h6 text-home" href="#!festival">WELL COME TO FESTIVAL</a>
        <img src="../img/Đỏ đậm Trắng Đen Du mục Kỹ thuật số Vlog Du lịch Hình thu nhỏ YouTube  (1).png"
          class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
      </div>
      <div class="col-lg-3">
        <a class="h6 text-home" href="#!festival">WELL COME TO FESTIVAL</a>
        <img src="../img/Đỏ đậm Trắng Đen Du mục Kỹ thuật số Vlog Du lịch Hình thu nhỏ YouTube  (1).png"
          class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
      </div>
      <div class="col-lg-3">
        <a class="h6 text-home" href="#!festival">WELL COME TO FESTIVAL</a>
        <img src="../img/Đỏ đậm Trắng Đen Du mục Kỹ thuật số Vlog Du lịch Hình thu nhỏ YouTube  (1).png"
          class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
      </div>
    </div>
  </div>
  <div class="day">
    <h2 class="item-text">Line-Up <br>-----<span class="h1 text-danger">o</span>-----</h2>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 text-center item-day">
          <h2 class="header-item">Friday</h2>
          <h6 class="text-item">25TH AUGUST</h6>
          <h4 class="pt-4">Italya</h4>
          <h4 class="p-2">England</h4>
          <h4 class="p-2">South Korea</h4>
          <h4 class="p-2">America</h4>
          <h4 class="p-2">VietNam</h4>
        </div>
        <div class="col-lg-3 text-center item-day">
          <h2 class="header-item">Saturday</h2>
          <h6 class="text-item2">26TH AUGUST</h6>
          <h4 class="pt-4">France</h4>
          <h4 class="p-2">Argentina</h4>
          <h4 class="p-2">Japan</h4>
          <h4 class="p-2">India</h4>
          <h4 class="p-2">Switzerland</h4>
        </div>
        <div class="col-lg-3 text-center item-day">
          <h2 class="header-item">Sunday</h2>
          <h6 class="text-item3">27TH AUGUST</h6>
          <h4 class="pt-4">China</h4>
          <h4 class="p-2">Japan</h4>
          <h4 class="p-2">South Korea</h4>
          <h4 class="p-2">America</h4>
          <h4 class="p-2">India</h4>
        </div>
      </div>
      <div class="text-center">
        <a href="" class="btn btn-primary mb-4"><strong>SEE ALL FESTIVAL</strong></a>
      </div>
    </div>

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>